
<div class="strib-styles ssa ssb ssc">
  <div class="hero">
    <h1>The Nonprofit 100</h1>

    <p class="lead container-sm">The 25th annual Star Tribune list of largest nonprofits in Minnesota.</p>

    <div class="byline">
      <address>By <a rel="author" href="http://startribune.com//patrick-kennedy/10645186/">Patrick Kennedy</a></address>
      <span class="spacer"></span>
      Star Tribune
      <span class="spacer-alt"></span>
      <time pubdate datetime="2021-01-23T00:00:00">Jan. 23, 2021</time>

    </div>

    <div class="share-placeholder">
      <!-- share -->
    </div>
  </div>

  <div class="container-md">
    <p class="summary">Financial results for this year’s Nonprofit 100 are largely from pre-pandemic 2019. Across the nonprofit spectrum organizations are focused on a Covid and post-Covid environment as they examine their finances and adjust  operations and staffing while staying true to their missions.
    </p>
  </div>

  <div class="container-lg">
    {#if isBrowser}
      <div class="category-filter">
        <form>
          <div class="row">
            <div class="col col-100 col-md-66">
              <fieldset>
                <legend>Filter <span class="sr-only">company list</span></legend>

                {#each categories as f}
                  <button type="button" class="category { f.id } { categoryFilter === f.id ? 'active' : '' }" on:click="proxySet(event, { categoryFilter: f.id })">{ f.name }</button>
                {/each}
              </fieldset>
            </div>

            <div class="col col-100 col-md-33">
              <div class="ceo-sort">
                {#if (!ceoSort)}
                  <button on:click="proxySet(event, { ceoSort: true })" type="button" class="sort-ceo">Sort by CEO compensation</button>
                {:else}
                  <button on:click="proxySet(event, { ceoSort: false })" type="button" class="unsort-ceo">Sort by revenue rankings</button>
                {/if}
              </div>
            </div>
        </form>
      </div>
    {/if}

    <div class="company-list">
      {#each filteredNonProfits as company (company.coid)}
        <Company
          {...company}
          publishYear="{ publishYear }"
        />
      {/each}
    </div>

    <div class="related-stories container-md">
      <h4>Star Tribune top nonprofits stories</h4>
      <h3><a href="https://www.startribune.com/minnesota-nonprofits-getting-creative-to-crawl-out-of-covid-19-financial-hole/600013887/" target="_blank"><span>Minnesota nonprofits getting creative to crawl out of COVID-19 financial hole</span></a></h3>
      <h3><a href="https://www.startribune.com/schafer-in-a-tough-year-donors-came-through-for-minnesota-s-charities/600013897/" target="_blank"><span>Schafer: In a tough year, donors came through for Minnesota charities</span></a></h3>
      <h3><a href="https://www.startribune.com/retired-twin-cities-catholic-charities-ceo-tim-marx-credited-as-coalition-builder/600013890/" target="_blank"><span>Retired Twin Cities Catholic Charities CEO Tim Marx credited as coalition builder</span></a></h3>
    </div>

    <footer class="article-footer">
      <h1>Credits</h1>

      <ul class="credits">
        <li>Data collected by Patrick Kennedy</li>
        <li>Design and development by Alan Palazzolo, Jamie Hutt, Thomas Oide and Chase Davis</li>
      </ul>

      <h1>Methodology</h1>

      <p>Certain nonprofits, charities and charitable trusts registered with the state must file IRS Form 990 with the Minnesota attorney general's office each year. Most of the financial information for organizations on our list was taken from their 2019 Form 990s or from consolidated audited financial statements. The Star Tribune's list includes the top officer and that person's total compensation, including salary, bonus and incentive compensation, other reportable compensation, contributions to retirement and other deferred compensation plans, and the value of nontaxable benefits.</p>
    </footer>
  </div>
</div>

<script>
  import Company from "./_company.svelte.html";
  import { cloneDeep, sortBy, filter, kebabCase, find } from "lodash";

  export default {
    components: {
      Company
    },

    oncreate() {
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    },

    computed: {
      filteredNonProfits({ nonprofits, categoryFilter, ceoSort, publishYear }) {
        let copy = nonprofits.map(cloneDeep);

        // Filter
        if (categoryFilter) {
          copy = filter(copy, c => {
            return kebabCase(c.category) === categoryFilter;
          });
        }

        // Sort
        if (ceoSort) {
          copy = sortBy(copy, c => {
            return c.ceo && c.ceo.salary ? c.ceo.salary.total || 0 : 0;
          }).reverse();
        } else {
          copy = sortBy(copy, c => {
            return c.rank;
          });
        }

        return copy;
      },

      filteredOrSorted({ categoryFilter, ceoSort }) {
        if (categoryFilter || ceoSort) {
          return true;
        }
      }
    },

    methods: {
      proxySet(event, toSet) {
        if (event && event.preventDefault) {
          event.preventDefault();
        }

        if (toSet) {
          this.set(toSet);
        }
      }
    },

    data() {
      return {
        isBrowser: typeof window !== "undefined",
        filter: undefined,
        categories: [
          { id: undefined, name: "All" },
          { id: "social-services", name: "Social services" },
          { id: "healthcare", name: "Health care" },
          { id: "arts", name: "Arts" },
          { id: "education", name: "Education" },
          { id: "other", name: "Other" }
        ]
      };
    }
  };
</script>
